<div>
    <h2>
        <span jhiTranslate="app3App.procedureTable.home.title">Procedure Tables</span>
        <button class="btn btn-primary float-right jh-create-entity create-procedure-table-my-suffix" [routerLink]="['/', { outlets: { popup: ['procedure-table-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="app3App.procedureTable.home.createLabel">
            Create new Procedure Table
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="procedureTables">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="app3App.procedureTable.procedureTable">Procedure Table</span></th>
            <th><span jhiTranslate="app3App.procedureTable.orderTable">Order Table</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let procedureTable of procedureTables ;trackBy: trackId">
                <td><a [routerLink]="['../procedure-table-my-suffix', procedureTable.id ]">{{procedureTable.id}}</a></td>
                <td>{{procedureTable.procedureTable}}</td>
                <td>
                    <div *ngIf="procedureTable.orderTableId">
                        <a [routerLink]="['../order-table-my-suffix', procedureTable.orderTableId  ]" >{{procedureTable.orderTableId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../procedure-table-my-suffix', procedureTable.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'procedure-table-my-suffix/'+ procedureTable.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'procedure-table-my-suffix/'+ procedureTable.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
