<div>
    <h2>
        <span jhiTranslate="app3App.equipment.home.title">Equipment</span>
        <button class="btn btn-primary float-right jh-create-entity create-equipment-my-suffix" [routerLink]="['/', { outlets: { popup: ['equipment-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="app3App.equipment.home.createLabel">
            Create new Equipment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="equipment">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="app3App.equipment.equipment">Equipment</span></th>
            <th><span jhiTranslate="app3App.equipment.orderTable">Order Table</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let equipment of equipment ;trackBy: trackId">
                <td><a [routerLink]="['../equipment-my-suffix', equipment.id ]">{{equipment.id}}</a></td>
                <td>{{equipment.equipment}}</td>
                <td>
                    <div *ngIf="equipment.orderTableId">
                        <a [routerLink]="['../order-table-my-suffix', equipment.orderTableId  ]" >{{equipment.orderTableId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../equipment-my-suffix', equipment.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'equipment-my-suffix/'+ equipment.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'equipment-my-suffix/'+ equipment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
